.nav{
    background-color: dimgray;
    display: flex;
    align-items: center;
    height: 50px;
}
.nav-title{
    color: white;
    margin-left: 15px;
}

.nav-links {
    width: 2000px;
    display: flex;
    color:white;
    justify-content: flex-end;
    text-decoration-line: none;
}
li a{
    color:lightgray;
    text-decoration: none;
}

.active{
    color:white;
    list-style: none;
    text-decoration: blanchedalmond;
}

.btn{
    color:white;
    background-color: teal;
    height: 30px;
    width: 90px;
    border-radius: 2px;
    box-shadow: black 5px 5px;
    /* font-family: 'Roboto', sans-serif; */
}

ul li {
display: flex;
margin: 20px;
list-style-type:none;
} 